* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main h1 {
  display: flex;
  width: auto;
  margin: 30px;
  justify-content: center;
  background-color: darkgray; }
  main h1:hover {
    background-color: #36992d; }

.inicio {
  color: blue;
  font-weight: bold; }

.medio {
  color: green;
  font-weight: bold; }

.fin {
  color: red;
  font-weight: bold; }

.container-fluid {
  padding: 10px; }
  .container-fluid .letra {
    font-weight: bold; }
  .container-fluid .color {
    color: #f2f2fa;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem; }

.main h1 {
  margin: 50px;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #8f8f91 0%, #ccccdb 39%, #dceaec 100%); }

.main .color2 {
  background-color: #d8d8d8; }
  .main .color2 .ancho {
    width: 500px;
    margin: 0 auto; }
    .main .color2 .ancho .color3 {
      background-color: black; }

section .tituloIndex {
  margin: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  font-weight: bold; }
  section .tituloIndex:hover {
    background-color: #c52929; }

section .margin1 {
  margin: 140px; }
  section .margin1 .accordion-button {
    background-color: #463e3e;
    color: white; }
  section .margin1 .ancho2 {
    width: 250px;
    margin: 0 auto; }
  section .margin1 h5 {
    width: auto;
    display: flex;
    justify-content: center; }

.divRedes .imagenw {
  width: 50px; }

.divRedes h4 {
  margin: 30px;
  display: flex;
  justify-content: center; }
  .divRedes h4:hover {
    transform: scale(1.5);
    transition: 2s all; }

.footerIndex {
  width: auto;
  margin: 70px;
  display: flex;
  justify-content: flex-end; }
  .footerIndex .datafiscal {
    width: 70px; }

@media (max-width: 420px) {
  .accordion-button {
    width: auto; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  margin: 10px;
  padding: 10px; }
  main .color4 {
    background-color: #af2d06; }
    main .color4 .ancho4 {
      width: 500px;
      margin: 0% auto;
      display: flex;
      justify-content: center; }

.imagenlocal {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0; }
  .imagenlocal .imagenlocal1 {
    width: 320px; }

section {
  margin: 100px 0px; }
  section h3 {
    margin: 40px;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: darkgray; }
  section .listado {
    margin: 50px;
    display: flex;
    width: auto;
    justify-content: space-around; }
  section .color5 {
    background-color: #b40228;
    border-color: black;
    font-family: Georgia, "Times New Roman", Times, serif; }

@media (max-width: 450px) {
  .listado {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main h2 {
  color: green; }

main .camion1 {
  width: 200px; }
  main .camion1:hover {
    transform: translate(100px);
    transition: all 1.5s ease; }

main .marginContacto {
  margin: 70px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  margin: 30px; }
  main .divpromociones {
    width: auto;
    display: flex;
    justify-content: center; }
    main .divpromociones .imagenespromociones {
      margin: 20px;
      width: 240px; }

@media (max-width: 850px) {
  .divpromociones {
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .marginNosotros {
  margin: 50px; }
  main .marginNosotros .accordion-button {
    background-color: #463e3e;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif; }

main .local1 {
  width: auto;
  display: flex;
  justify-content: center; }
  main .local1 .local {
    width: 280px; }

@media (max-width: 700px) {
  .local1 {
    flex-direction: column; } }
