
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
@import '../Variables/mixin';
@import '../Variables/extend'; 

@import '../Variables/maps';
@import './Secciones/index';
@import './Secciones/productos';
@import './Secciones/contacto'; 
@import './Secciones/promociones'; 
@import './Secciones/nosotros'; 

