*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
main{
    h2{
        color: green;
    }
    .camion1{
        width: 200px;
        &:hover {
     transform:translate(100px);
    transition:all 1.5s ease;

        }
    }
   .marginContacto{
       margin: 70px;
            
    
   } 
}
