//header
.container-fluid {
  margin: 20px;
  padding: 10px;
 

  .color {
    color: rgb(242, 242, 250);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
  }
}
//nav
.nav {
  margin: 20px;
 }
//main
.main {
  .color2 {
    background-color: rgb(216, 216, 216);

    .ancho {
      width: 500px;
      margin: 0 auto;
      .color3 {
        background-color: black;
      }
    }
  }
}

//section
section {
 h1 {
    margin: 40px;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: red;
    }
  }
    .margin1{
     margin: 140px;
         
     .accordion-button{
       background-color: rgb(70, 62, 62);
       color: white;
     }
      .ancho2 {
        width: 250px;
        margin: 0 auto;
      }
      
                     
        
        h5{
          width: auto;
          display: flex;
          justify-content: center;

        }
      }
    }



//footer
footer{
  .imagenw{
    width: 50px;
  }
  h4 {
    margin: 10px;
    display: flex;
    justify-content: center;
    &:hover {
        transform: scale(1.5);
        transition: 2s all;

 }
  }
}
@media (max-width: 420px){
.accordion-button{
width: auto;
}
}

