
.container-fluid {
  padding: 10px;
 
  .letra {
    font-weight: bold;
  }

  .color {
    color: rgb(242, 242, 250);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
  }
}


.main {
  h1 {
    margin: 50px;
    display: flex;
    justify-content: center;
    background: linear-gradient(
      90deg,
      rgb(143, 143, 145) 0%,
      rgb(204, 204, 219) 39%,
      rgb(220, 234, 236) 100%
    );
  }

  .color2 {
    background-color: rgb(216, 216, 216);

    .ancho {
      width: 500px;
      margin: 0 auto;
      .color3 {
        background-color: black;
      }
    }
  }
}


section {
  .tituloIndex {
    margin: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    &:hover {
      background-color: rgb(197, 41, 41);
    }
  }

  .margin1 {
    margin: 140px;

    .accordion-button {
      background-color: rgb(70, 62, 62);
      color: white;
    }
    .ancho2 {
      width: 250px;
      margin: 0 auto;
    }

    h5 {
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
}


.divRedes {
  .imagenw {
    width: 50px;
  }
  h4 {
    margin: 30px;
    display: flex;
    justify-content: center;
    &:hover {
      transform: scale(1.5);
      transition: 2s all;
    }
  }
}

.footerIndex {
  width: auto;
  margin: 70px;
  display: flex;
  justify-content: flex-end;

  .datafiscal {
    width: 70px;
  }
}
@media (max-width: 420px) {
  .accordion-button {
    width: auto;
  }
}
