* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: 30px;
  h1 {
    @extend %estilosParrafo;
  }

  .divpromociones {
    width: auto;
    display: flex;
    justify-content: center;

    .imagenespromociones {
      margin: 20px;
      width: 240px;
    }
  }
}
@media (max-width: 850px) {
  .divpromociones {
    flex-direction: column;
  }
}
